<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language='javascript' type='text/javascript' src='/javascripts/frontend.js'>
      
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
