<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>    
  </body>
</html>
