
<div class="row">
    <div class="panel col-xs-3">
        {{> favourites}}
    </div>
    <div class="col-xs-9">
        <table class="table">
            <tr>
                <th>Year</th>
                <th>Caption</th>
            </tr>
            {{#each .}}
                <tr>
                    <td>{{year}}</td>
                    <td>
                        <a href='leagues/{{id}}/table'>
                            {{caption}}
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>