<div>
    <a class="btn btn-primary" href="/login">Login</a>
</div>
<p></p>
<h5>Favourites</h5>
<table class="table card">
    {{#each favourites}}
        <tr>
            <td>
                <a href="/leagues/{{id}}/table">
                    {{caption}}
                </a>
            </td>
        </tr>
    {{/each}}
</table>