<h5>Favourites</h5>
<table class="table card">
    <tr>
        <td>
            <a href="http://localhost:3000/leagues/445/table">
                Premier League 2017/18
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://localhost:3000/leagues/455/table">
                La Liga 2017/18
            </a>
        </td>
    </tr>
</table>