<html>
    <head>

    </head>
    <body>
        <ul>
            <li>Name: {{name}}</li>
            <li>Shortname: {{shortName}}</li>
            <li><img src='{{crestUrl}}'/></li>
        </ul>
    </body>
</html>